@model IEnumerable<HireProSol.Models.Service>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card">
                <a href="/Services/SelectCareGiver?typeid=@item.Type_Id&serviceid=@item.ServiceId ">
                    <div class="card-two">
                        <header>
                            <div class="avatar">
                                 <img src="@item.CssClass"/>
                            </div>
                        </header>

                        <h3>@item.Name</h3>
                        <div class="desc">
                            @item.Type.TypeName
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>