<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            
            <ul id="sidebarnav">
                @if (!User.IsInRole("Admin"))
                {
                    <li class="nav-devider"></li>
                    <li class="nav-label">Home</li>
                    <li>
                        <a class="has-arrow  " href="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard </span></a>
                    </li>
                    <li>
                        <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Licences </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">All Licences </a></li>
                            <li><a href="index.html">Create New </a></li>
                        </ul>
                    </li>

                }
                <li class="nav-devider"></li>
                <li class="nav-label">My Profile</li>
                <li>
                    <a class="has-arrow  " href="/Services/ServiceType" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Services </span></a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>